.main_image {
  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-30%, -50%);

  max-width: 100 vw;
  height: 100 vw;
}

figcaption {
  display: table-caption;
  caption-side: top;
}

/*
.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
*/

.sideBar img {
  width: 5rem;
  height: 5rem;
  object-fit: fill;
  cursor: pointer;
  margin: 1.5rem;
}

.sideDiv {
  display: grid;
  grid-template-columns: 5rem auto;
  grid-template-rows: auto;
  grid-template-areas: repeat(5, ".thumb .desc");
  column-gap: 40px;
  row-gap: 50px;
}

p {
  width: 5rem;
  height: 5rem;
}

.blue {
  background-color: blue;
  width: 30%;
  height: fit-content;
  color: azure;
  /*height: 7vh;*/
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
