* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  /* background: black; */
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#app {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding-top: 10vh;
  grid-template-rows: 60vh;
}

.formBox {
  grid-column: 2 / 6;
  display: grid;
  height: 43vh;
  grid-template-columns: 100%;
  grid-template-rows: 0.2fr 1fr;
  row-gap: 5vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: solid #000;
  border-width: 1px 1px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/debut-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: azure;
}

.cart {
  grid-column: 8 / 13;
  display: grid;
  /* grid-template-rows: max-content; */
  grid-auto-rows: min-content;
  row-gap: 5px;
  overflow: auto;
  border: 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: solid #000;
  border-width: 1px 1px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/debut-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: azure;
}

/* .cart:nth-child(odd) {
  background: greenyellow;
} */

.formBox p,
h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2vh;
  margin: 0;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 3vh;
  height: 5vh;
  font-family: fantasy, "Times New Roman", Times, serif;
  /* padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-top: 3vh; */
}

input {
  height: 5vh;
  border-radius: 5px;
  border: solid rgb(35, 181, 201);
  border-width: 1px 1px;
}

#formButton {
  /* margin-bottom: 70px 0; */
  /* height: inherit; */
  width: 40%;
  height: 5vh;
  /* border: solid #000;
  border-radius: 5px;
  border-width: 2px 2px; */
  background: #000000;
  margin-left: 60%;
  align-self: baseline;
  margin-top: 5vh;
}

#formButton {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#formButton:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.cartDiv {
  display: flex;
  flex-wrap: wrap;
  border: 3px black;
}

.cartPara {
  text-align: center;
  height: inherit;
  min-height: 30px;
  word-break: break-all;
  flex: 1 1 0;
  padding: 1vh;
  margin: 0;
  align-self: stretch;
  color: azure;
  background: coral;
  border: solid #000;
  border-width: 1px 1px;
}

.cartQuantity {
  text-align: center;
  min-height: 30px;
  height: inherit;
  word-break: break-all;
  flex: 0.5 1 2vw;
  padding: 1vh;
  margin: 0;
  background: cornflowerblue;
  color: azure;
  border: solid #000;
  border-width: 1px 1px;
  align-self: stretch;
}

.cartPara,
.cartQuantity {
  min-height: 30px;
  height: inherit;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.cartDel {
  min-height: 30px;
  height: inherit;
  margin: 0 0;
  text-align: center;
  align-self: stretch;
  justify-items: center;
  flex: 0.25 0.25 0;
  background: rgb(167, 34, 34);
  color: azure;
  border: solid #000;
  border-width: 1px 1px;
}

.cartEdit {
  min-height: 30px;
  height: inherit;
  text-align: center;
  margin: 0 0;
  align-self: stretch;
  justify-content: center;
  flex: 0.25 0.25 0;
  background: darkseagreen;
  color: azure;
  border: solid #000;
  border-width: 1px 1px;
}

@media only screen and (max-width: 796px) {
  .formBox {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 1fr;
    row-gap: 5vh;
    height: auto;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: auto;
  }

  .cart {
    /* background: lightcyan; */
    grid-column: 1/ 13;
    display: grid;
    /* grid-template-rows: max-content; */
    grid-auto-rows: min-content;
    border-radius: 0px;
    /* border-radius: 10px;
    /* box-shadow: 10px 5px 5px black; */
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;  */
  }

  #app {
    row-gap: 10vh;
    grid-template-rows: auto;
  }

  #formButton {
    height: 6vh;
    margin-right: auto;
    margin-left: auto;
  }

  label {
    padding-top: 3vh;
  }
}

@media only screen and (max-height: 630px) {
  label {
    padding-top: 3px;
  }
}
